{% extends 'events/base.html' %}

{% block title %}

	<title>Venue</title>
{% endblock %}

{% block content %}
	<center>
		<div class="card">
		  <div class="card-header">
		    <h1>{{venue}}</h1>
		  </div>
		  <div class="card-body">
		    <p class="card-text">
		    	<h5>Venue Info</h5>
				<ul class="list-group list-group-numbered">
					
						
					<li>Address: {{venue.address}}</li>
					<li>Zip Code: {{venue.zip_code}}</li>
					<li>Web Address: <a href="">{{venue.web}}</a></li>
					<li>Email: {{venue.email_address}}</li>
					<li>Owner: {{ venue_owner}}</li>
				

				</ul>

		    </p>
		  </div>
		</div>
		
	</center>
{% endblock %}